body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #eef9ff;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #152887;
    border-bottom: 2px solid #FF5B02;
    /* Laranja */
    padding-bottom: 10px;
    transition: color 0.3s;
    text-align: left;
    display: flex
}

h2:not(.first) {
    margin-top: 30px;
}

h2:hover {
    color: #FF5B02;
    /* Laranja mais escuro */
    display: flex
}

p,
ul:not(.nav) {
    margin: 15px 0;
    text-align: left;
    /* Alinha o texto à esquerda */
}

ul:not(.nav) {
    padding-left: 20px;
    list-style-type: disc;
    display: block;
}

ul:not(.nav) li {
    display: list-item;
    width: 100%;
    float: none;
}

.contact-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #152887;
    /* Azul */
    outline: none;
}

.contact-form button {
    background: #FF5B02;
    /* Laranja */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #FF5B02;
    /* Laranja mais escuro */
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }
}

/* Estilo para animação de entrada */
.fade-in {
    animation: fadeIn 1s;
}