@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Adicionado para facilitar o cálculo de largura/altura dos elementos */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f2f5;
    text-align: center;
    margin: 0;
}

/* Estilos do cabeçalho */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

/* HEADER ao rolar */
header.scrolled {
    background-color: #152887ee;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

/* LOGO animado */
#logo {
    width: 180px;
    transition: transform 0.3s ease;
}
#logo:hover {
    transform: scale(1.05);
}

/* Estilos de navegação */
nav {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

/* Força o menu a ficar à direita */
.navbar-nav {
    margin-left: auto !important;
}

/* telas grandes */
@media (min-width: 992px) {
    #menuPrincipalColapsavel {
        justify-content: flex-end;
    }
}
#menuDesktop {
    display: none;
}

@media (min-width: 992px) {
    #menuDesktop {
        display: flex;
        gap: 30px;
        align-items: center;
    }
}

/* Estilos gerais de listas */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    margin: 5px;
    margin-right: 30px;
    position: relative;
}

 a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    border-radius: 5px;
    height: 3px;
    background-color: rgb(255, 115, 0);
    transform: scaleX(0);
    transition: transform 0.3s ease;
 }

a:hover {
    color: #fff; /* Muda a cor do texto ao passar o mouse */
    transform: translateY(-2px); /* Levanta o botão levemente */
}

a:hover::after {
    transform: scaleX(1);
}

ul li {
    float: left;
}

/* Estilos de links em listas */
ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 6px 4px;
    text-decoration: none;
    border-radius: 8px;
}

.navbar-link{
    color: #ffffff !important; 
    padding: 10px 20px !important; 
    border-radius: 8px;
}

/* Estilos do cabeçalho principal */
h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Montserrat';
}

.introducao {
    margin-top: 3%;
    margin-bottom: 40px; /* Aumenta a margem inferior para separar do sumário */
}

.introducao p {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    max-width: 1200px;
    margin: 20px auto 30px auto;
    /*centraliza o bloco*/
    color: #ffffff;
}

.sumario {
    display: flex;
    background-color: #152887;
    color: #ffffff;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
    gap: 10px;
    font-size: 10px;
    border: 1px solid rgb(87, 87, 87);
    padding: 10px;
}

.sumario nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
    padding-bottom: 10px;
    font-size: 25px;
}

.sumario nav a {
    width: fit-content;
    padding: 6px 10px;
    border-right: 1px solid ;
    border-bottom: 1px solid ;
    font-weight:500;
    /*diz se o texto será 'fino' ou 'grosso', como se mexesse no negrito */
    color: #ffffff;
    text-decoration:none;
    border-radius: 6px;
    box-shadow:  black;
    background:#2035a0c4;
    transition: background-color 0.5s ease, transform 0.15s ease;
    font-size: 1.3rem;
}

.sumario nav a:hover {
    background-color: #12193c;
    border-right: none;
    transform: translateX(3px);
    text-decoration: underline #ff0000;
}

#titulo-sumario{
    font-weight: 500;
    color:white
}

h2, p {
    margin: 10px;
    text-align: center;
}

section {
    margin: 0px 2% 0px 2%;
}
#escolaridade, #longevidade,#regiaooeste  {
    border-bottom: 1px solid black;
}

.flex-container {
    display: flex;
    /* Permite que os itens quebrem para a linha de baixo em telas pequenas */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
    padding: 20px;
    max-width: 1200px;
    margin: 1% auto;
    border: 5px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    gap: 15px;
}

.flex-container:hover {
    border-color: #3581B8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.flex-container-content {
    /*agrupa grafico+texto lado a lado */
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.chart-container{
    max-width: 700px;
    width: 100%;
}

.chart-container img{
    display: block;
    width: 100%;
    height: 100%;
}

.container-foto{
    width: 100%;
    height: 580px;
    overflow:hidden;
}

.container-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Faz o gráfico crescer bem dentro do modal */
.modal .chart-container {
    width: 100%;
    height: 20vh; /* altura ótima */
    max-height: 80vh;
}

.modal .chart-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}


.button {
    background-color: #152887;
    /* azul */
    color: white;
    padding: 12px 28px;
    /* botao menor*/
    font-size: 18px;
    /*texto menor */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px auto;
    /*centraliza horizontalmente*/
    width: 160px;
    /*largura fixa*/
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    /* azul mais escuro */
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.texto-e-botao-container {
    flex-direction: column;
}

.texto-e-botao-container {
    flex: 1;
    /*ocupa mais espaço no flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.texto-e-botao-container p {
    flex: 1;
    /*deixa o texto expandir */
    font-size: 1.15rem;
    /*ajusta o tamanho do texto se precisar */
    text-align: left;
    line-height: 1.5;
    margin: 0.5em 0;
    font-weight: bolder;
}

@media (max-width:768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .texto-e-botao-container {
        width: 100%;
    }
}

.card {
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1.5rem;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
        /* Estilo para o select */
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" /></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1.5em 1.5em;
}

.btn-round {
        border-radius: 50px; 
    }

.modal-content {
        border-radius: 1rem; 
     }

footer {
    align-items: center;
    background-color: #152887;
    color: white;
    display: flex;
    font-size: 100%;
    font-weight: bold;
    justify-content: space-between;
    padding: 1.4%;
}
footer img {
    width: 32px;
    height: auto;
    display: block;
}
footer a img:hover {
    transform: scale(1.2);
    transition: transform 0.3 ease-in-out;
}

.introducao {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-family: 'Poppins', sans-serif; /* Fonte bonita */
    font-size: 3em; /* Tamanho do título */
    margin-bottom: 10px; /* Espaço abaixo do título */
    color: #333; /* Cor do texto do título */
    animation: fadeIn 1s ease-in-out; /* Animação de entrada */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.descricao {
    font-size: 0.9em; /* Tamanho menor para o texto abaixo */
    line-height: 1.5; /* Altura da linha para legibilidade */
    color: #555; /* Cor do texto */
    max-width: 800px; /* Largura máxima do texto */
    margin: 0 auto; /* Centraliza o parágrafo */
    padding: 0 20px; /* Adiciona espaçamento lateral */
}

.custom-select {
    /* ... aparência ... */
    background-image: url("{{ url_for('static', filename='images/seta.svg') }}"); 
    /* ... */
}

.button-colab {
    background-color: #152887;
    color: white;
    padding: 14px 28px; /* Aumentei o padding interno */
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex; /* <--- importante para alinhar texto e imagem */
    align-items: center;  /* <--- centraliza verticalmente */
    justify-content: center;
    gap: 12px;             /* espaço entre texto e imagem */
    transition: background-color 0.3s ease;
}

.button-colab :hover {
    transform: translateY(-2px); /* leve efeito de hover */
}

.button-colab  span {
    display: inline-flex;
    align-items: center;
    gap: 12px; /* garante que texto e imagem não fiquem colados */
}

.button-colab  span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button-colab :hover span {
    padding-right: 0px;
}

.button-colab :hover span:after {
    opacity: 1;
    right: 0;
}

.button-colab img {
    width: 28px;  /* imagem proporcional ao tamanho do botão */
    height: 24px;
    object-fit: contain;
}