@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Adicionado para facilitar o cálculo de largura/altura dos elementos */
}

body {
    background-color: #f0f2f5;
    text-align: center;
    margin: 0;
    font-family: 'Montserrat';
}

/* Estilos do cabeçalho */
header {
    font-family: poppins, sans-serif;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.5  s ease;
}

#logo {
    padding-left: 1%;
    width: 70%;
}

/* Estilos do menu */
ul.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: 18px;
}

ul.menu li {
    margin: 5px;
    margin-right: 30px;
}

ul.menu li:not(:first-child) {
    padding-left: 10px;
    /* Corrigido de 10x para 10px */
}

/* Estilos de navegação */
nav {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Poppins';
    rotate: 15px;
}
/* Estilos de cabeçalhos e parágrafos */
h2,
p {
    margin: 50px;
    text-align: center;
}

/* Estilos gerais de listas */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    margin: 5px;
    margin-right: 30px;
    position: relative;
}

a {
    display: block;
     color: #ffffff;
     text-align: center;
     padding: 6px 4px;
     text-decoration: none;
     border-radius: 8px;
     position: relative;
     transition: color 0.3s ease, transform 0.3s ease; /* Transição suave */
 }

 a::after {
    content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        border-radius: 5px;
        height: 3px;
        background-color: rgb(255, 115, 0);
        transform: scaleX(0);
        transition: transform 0.3s ease;
 }

a:hover {
            color: #fff; /* Muda a cor do texto ao passar o mouse */
            transform: translateY(-2px); /* Levanta o botão levemente */
        }

a:hover::after {
    transform: scaleX(1);
}

ul li {
    float: left;
}

/* Estilos de links em listas */
ul li a {
    display: block;
    color: #ff0000;
    text-align: center;
    padding: 6px 4px;
    text-decoration: none;
    border-radius: 8px;
}


/* Estilos do cabeçalho principal */
h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Montserrat';
}

.introducao {
    margin-top: 3%;
    margin-bottom: 40px; /* Aumenta a margem inferior para separar do sumário */
}

.introducao p {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    max-width: 1200px;
    margin: 20px auto 30px auto;
    /*centraliza o bloco*/
}

  .sumario {
display: flex;
flex-direction: column;
margin: auto;
margin-bottom: 2.5%;
max-width: 1200px;
gap: 10px;
font-size: 15px;
border: 1px solid rgb(87, 87, 87);
border-radius: 10px;
}

.sumario nav {
display: flex;
flex-direction: column;
gap: 8px;
padding-bottom: 10px;
font-size: 20px;
}

.sumario nav a {
display: inline-block;
width: fit-content;
padding: 6px 10px;
font-weight: bold;
/*diz se o texto será 'fino' ou 'grosso', como se mexesse no negrito */
color: rgb(0, 0, 0);
text-decoration: none;
border-radius: 6px;
background: transparent;
transition: background-color 0.5s ease, transform 0.15s ease;
}

.sumario nav a:hover {
background-color: lightblue;
transform: translateX(3px);
text-decoration: underline;
}

h2,
p {
    margin: 10px;
    text-align: center;
}

section {
    margin: 0px 2% 0px 2%;
}
#PopulacaoTotal, #CrescimentoPopulacional, #PiramideEtaria  {
    border-bottom: 1px solid black;
}

.flex-container {
    display: flex;
    /* Permite que os itens quebrem para a linha de baixo em telas pequenas */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
    padding: 20px;
    max-width: 1200px;
    margin: 1% auto;
    border: 5px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    gap: 15px;
}

.flex-container:hover {
    border-color: rgb(59, 147, 179);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.flex-container-content {
    /*agrupa grafico+texto lado a lado */
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.button {
    background-color: #0080FF;
    /* azul */
    color: white;
    padding: 12px 28px;
    /* botao menor*/
    font-size: 18px;
    /*texto menor */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px auto;
    /*centraliza horizontalmente*/
    width: 160px;
    /*largura fixa*/
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    /* azul mais escuro */
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.texto-e-botao-container {
    flex-direction: column;
}

.texto-e-botao-container {
    flex: 1;
    /*ocupa mais espaço no flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.texto-e-botao-container p {
    flex: 1;
    /*deixa o texto expandir */
    font-size: 1rem;
    /*ajusta o tamanho do texto se precisar */
    text-align: left;
    line-height: 1.5;
    margin: 0.5em 0;
}

@media (max-width:768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .texto-e-botao-container {
        width: 100%;
    }
}



.card {
background-color: white;
border-radius: 0.75rem;
box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
padding: 1.5rem;
transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card:hover {
transform: translateY(-5px);
box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
        /* Estilo para o select */
.custom-select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" /></svg>');
background-repeat: no-repeat;
background-position: right 0.75rem center;
background-size: 1.5em 1.5em;
}

.btn-round {
        border-radius: 50px; 
    }

.modal-content {
        border-radius: 1rem; 
     }

     footer {
            align-items: center;
            background-color: #0080FF;
            color: white;
            display: flex;
            font-size: 50%;
            font-weight: bold;
            justify-content: center;
            padding: 1.4%;
              flex-direction: column;
}
        

   footer {
    background-color: #152887;
    color: white;
    padding: 1.4%;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo do footer */
    align-items: center;
    font-weight: bold;
    font-size: 100%;
}

.footer-content {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo dentro da footer-content */
    align-items: center;
    gap: 15px; /* Espaçamento entre os itens */
    max-width: 800px; /* Defina uma largura máxima, se necessário */
    width: 100%;
}

footer img {
    width: 32px;
    height: auto;
}

footer a img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out; /* Corrigido para incluir 's' após 0.3 */
}

       .introducao {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-family: 'Poppins', sans-serif; /* Fonte bonita */
    font-size: 3em; /* Tamanho do título */
    margin-bottom: 10px; /* Espaço abaixo do título */
    color: #333; /* Cor do texto do título */
    animation: fadeIn 1s ease-in-out; /* Animação de entrada */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.descricao {
    font-size: 0.9em; /* Tamanho menor para o texto abaixo */
    line-height: 1.5; /* Altura da linha para legibilidade */
    color: #555; /* Cor do texto */
    max-width: 800px; /* Largura máxima do texto */
    margin: 0 auto; /* Centraliza o parágrafo */
    padding: 0 20px; /* Adiciona espaçamento lateral */
}


        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #eef9ff;
            color: #333;
        }

        h1 {
            font-size: 2.5em;
            margin: 0;
            animation: fadeIn 1s;
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        .container {
            width: 90%;
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }

        h2 {
            color: #152887;
            border-bottom: 2px solid #FF5B02; /* Laranja */
            padding-bottom: 10px;
            margin-top: 30px;
            transition: color 0.3s;
            text-align: left;
            display: flex
        }

        h2:hover {
            color: #FF5B02; /* Laranja mais escuro */
            display: flex
        }

        p, ul {
            margin: 15px 0;
            text-align: left; /* Alinha o texto à esquerda */
        }

        ul {
            padding-left: 20px;
            list-style-type: disc;
        }

        .contact-form {
            background: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            margin-top: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .contact-form label {
            display: block;
            margin: 10px 0 5px;
        }

        .contact-form input, .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color 0.3s;
        }

        .contact-form input:focus, .contact-form textarea:focus {
            border-color: #152887; /* Azul */
            outline: none;
        }

        .contact-form button {
            background: #FF5B02; /* Laranja */
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .contact-form button:hover {
            background: #FF5B02; /* Laranja mais escuro */
        }

        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
            h1 {
                font-size: 2em;
            }
        }

        /* Estilo para animação de entrada */
        .fade-in {
            animation: fadeIn 1s;
        }
