<div>
  <script type="text/javascript">
    window.PlotlyConfig = { MathJaxConfig: "local" };
  </script>
  <script
    charset="utf-8"
    src="https://cdn.plot.ly/plotly-2.35.2.min.js"
  ></script>
  <div
    id="c997d99e-e6c0-4646-aa06-3a05ab076ee4"
    class="plotly-graph-div"
    style="height: 100%; width: 100%"
  ></div>
  <script type="text/javascript">
    window.PLOTLYENV = window.PLOTLYENV || {};
    if (document.getElementById("c997d99e-e6c0-4646-aa06-3a05ab076ee4")) {
      Plotly.newPlot(
        "c997d99e-e6c0-4646-aa06-3a05ab076ee4",
        [
          {
            alignmentgroup: "True",
            hovertemplate:
              "Uso de Internet=Sim\u003cbr\u003eMunicípio\u002fPais=%{x}\u003cbr\u003ePopulação (%)=%{y}\u003cextra\u003e\u003c\u002fextra\u003e",
            legendgroup: "Sim",
            marker: { color: "#636efa", pattern: { shape: "" } },
            name: "Sim",
            offsetgroup: "Sim",
            orientation: "v",
            showlegend: true,
            textposition: "outside",
            x: ["Brasil", "São José dos Campos "],
            xaxis: "x",
            y: [86.35, 93.58],
            yaxis: "y",
            type: "bar",
            texttemplate: "%{y:.2f}%",
          },
          {
            alignmentgroup: "True",
            hovertemplate:
              "Uso de Internet=Não\u003cbr\u003eMunicípio\u002fPais=%{x}\u003cbr\u003ePopulação (%)=%{y}\u003cextra\u003e\u003c\u002fextra\u003e",
            legendgroup: "Não",
            marker: { color: "#EF553B", pattern: { shape: "" } },
            name: "Não",
            offsetgroup: "Não",
            orientation: "v",
            showlegend: true,
            textposition: "outside",
            x: ["Brasil", "São José dos Campos "],
            xaxis: "x",
            y: [13.65, 6.42],
            yaxis: "y",
            type: "bar",
            texttemplate: "%{y:.2f}%",
          },
        ],
        {
          template: {
            data: {
              histogram2dcontour: [
                {
                  type: "histogram2dcontour",
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                },
              ],
              choropleth: [
                {
                  type: "choropleth",
                  colorbar: { outlinewidth: 0, ticks: "" },
                },
              ],
              histogram2d: [
                {
                  type: "histogram2d",
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                },
              ],
              heatmap: [
                {
                  type: "heatmap",
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                },
              ],
              heatmapgl: [
                {
                  type: "heatmapgl",
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                },
              ],
              contourcarpet: [
                {
                  type: "contourcarpet",
                  colorbar: { outlinewidth: 0, ticks: "" },
                },
              ],
              contour: [
                {
                  type: "contour",
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                },
              ],
              surface: [
                {
                  type: "surface",
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                },
              ],
              mesh3d: [
                { type: "mesh3d", colorbar: { outlinewidth: 0, ticks: "" } },
              ],
              scatter: [
                {
                  fillpattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  type: "scatter",
                },
              ],
              parcoords: [
                {
                  type: "parcoords",
                  line: { colorbar: { outlinewidth: 0, ticks: "" } },
                },
              ],
              scatterpolargl: [
                {
                  type: "scatterpolargl",
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                },
              ],
              bar: [
                {
                  error_x: { color: "#2a3f5f" },
                  error_y: { color: "#2a3f5f" },
                  marker: {
                    line: { color: "#E5ECF6", width: 0.5 },
                    pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  },
                  type: "bar",
                },
              ],
              scattergeo: [
                {
                  type: "scattergeo",
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                },
              ],
              scatterpolar: [
                {
                  type: "scatterpolar",
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                },
              ],
              histogram: [
                {
                  marker: {
                    pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  },
                  type: "histogram",
                },
              ],
              scattergl: [
                {
                  type: "scattergl",
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                },
              ],
              scatter3d: [
                {
                  type: "scatter3d",
                  line: { colorbar: { outlinewidth: 0, ticks: "" } },
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                },
              ],
              scattermapbox: [
                {
                  type: "scattermapbox",
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                },
              ],
              scatterternary: [
                {
                  type: "scatterternary",
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                },
              ],
              scattercarpet: [
                {
                  type: "scattercarpet",
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                },
              ],
              carpet: [
                {
                  aaxis: {
                    endlinecolor: "#2a3f5f",
                    gridcolor: "white",
                    linecolor: "white",
                    minorgridcolor: "white",
                    startlinecolor: "#2a3f5f",
                  },
                  baxis: {
                    endlinecolor: "#2a3f5f",
                    gridcolor: "white",
                    linecolor: "white",
                    minorgridcolor: "white",
                    startlinecolor: "#2a3f5f",
                  },
                  type: "carpet",
                },
              ],
              table: [
                {
                  cells: {
                    fill: { color: "#EBF0F8" },
                    line: { color: "white" },
                  },
                  header: {
                    fill: { color: "#C8D4E3" },
                    line: { color: "white" },
                  },
                  type: "table",
                },
              ],
              barpolar: [
                {
                  marker: {
                    line: { color: "#E5ECF6", width: 0.5 },
                    pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  },
                  type: "barpolar",
                },
              ],
              pie: [{ automargin: true, type: "pie" }],
            },
            layout: {
              autotypenumbers: "strict",
              colorway: [
                "#636efa",
                "#EF553B",
                "#00cc96",
                "#ab63fa",
                "#FFA15A",
                "#19d3f3",
                "#FF6692",
                "#B6E880",
                "#FF97FF",
                "#FECB52",
              ],
              font: { color: "#2a3f5f" },
              hovermode: "closest",
              hoverlabel: { align: "left" },
              paper_bgcolor: "white",
              plot_bgcolor: "#E5ECF6",
              polar: {
                bgcolor: "#E5ECF6",
                angularaxis: {
                  gridcolor: "white",
                  linecolor: "white",
                  ticks: "",
                },
                radialaxis: {
                  gridcolor: "white",
                  linecolor: "white",
                  ticks: "",
                },
              },
              ternary: {
                bgcolor: "#E5ECF6",
                aaxis: { gridcolor: "white", linecolor: "white", ticks: "" },
                baxis: { gridcolor: "white", linecolor: "white", ticks: "" },
                caxis: { gridcolor: "white", linecolor: "white", ticks: "" },
              },
              coloraxis: { colorbar: { outlinewidth: 0, ticks: "" } },
              colorscale: {
                sequential: [
                  [0.0, "#0d0887"],
                  [0.1111111111111111, "#46039f"],
                  [0.2222222222222222, "#7201a8"],
                  [0.3333333333333333, "#9c179e"],
                  [0.4444444444444444, "#bd3786"],
                  [0.5555555555555556, "#d8576b"],
                  [0.6666666666666666, "#ed7953"],
                  [0.7777777777777778, "#fb9f3a"],
                  [0.8888888888888888, "#fdca26"],
                  [1.0, "#f0f921"],
                ],
                sequentialminus: [
                  [0.0, "#0d0887"],
                  [0.1111111111111111, "#46039f"],
                  [0.2222222222222222, "#7201a8"],
                  [0.3333333333333333, "#9c179e"],
                  [0.4444444444444444, "#bd3786"],
                  [0.5555555555555556, "#d8576b"],
                  [0.6666666666666666, "#ed7953"],
                  [0.7777777777777778, "#fb9f3a"],
                  [0.8888888888888888, "#fdca26"],
                  [1.0, "#f0f921"],
                ],
                diverging: [
                  [0, "#8e0152"],
                  [0.1, "#c51b7d"],
                  [0.2, "#de77ae"],
                  [0.3, "#f1b6da"],
                  [0.4, "#fde0ef"],
                  [0.5, "#f7f7f7"],
                  [0.6, "#e6f5d0"],
                  [0.7, "#b8e186"],
                  [0.8, "#7fbc41"],
                  [0.9, "#4d9221"],
                  [1, "#276419"],
                ],
              },
              xaxis: {
                gridcolor: "white",
                linecolor: "white",
                ticks: "",
                title: { standoff: 15 },
                zerolinecolor: "white",
                automargin: true,
                zerolinewidth: 2,
              },
              yaxis: {
                gridcolor: "white",
                linecolor: "white",
                ticks: "",
                title: { standoff: 15 },
                zerolinecolor: "white",
                automargin: true,
                zerolinewidth: 2,
              },
              scene: {
                xaxis: {
                  backgroundcolor: "#E5ECF6",
                  gridcolor: "white",
                  linecolor: "white",
                  showbackground: true,
                  ticks: "",
                  zerolinecolor: "white",
                  gridwidth: 2,
                },
                yaxis: {
                  backgroundcolor: "#E5ECF6",
                  gridcolor: "white",
                  linecolor: "white",
                  showbackground: true,
                  ticks: "",
                  zerolinecolor: "white",
                  gridwidth: 2,
                },
                zaxis: {
                  backgroundcolor: "#E5ECF6",
                  gridcolor: "white",
                  linecolor: "white",
                  showbackground: true,
                  ticks: "",
                  zerolinecolor: "white",
                  gridwidth: 2,
                },
              },
              shapedefaults: { line: { color: "#2a3f5f" } },
              annotationdefaults: {
                arrowcolor: "#2a3f5f",
                arrowhead: 0,
                arrowwidth: 1,
              },
              geo: {
                bgcolor: "white",
                landcolor: "#E5ECF6",
                subunitcolor: "white",
                showland: true,
                showlakes: true,
                lakecolor: "white",
              },
              title: { x: 0.05 },
              mapbox: { style: "light" },
            },
          },
          xaxis: {
            anchor: "y",
            domain: [0.0, 1.0],
            title: { text: "Município\u002fPais" },
          },
          yaxis: {
            anchor: "x",
            domain: [0.0, 1.0],
            title: { text: "Percentual (%)" },
          },
          legend: { title: { text: "Uso de Internet" }, tracegroupgap: 0 },
          title: { text: "Internet por domicílio 2022", x: 0.5, xanchor: 'center' },
          barmode: "group",
        },
        { responsive: true }
      ).then(function() {
        var gd = document.getElementById("c997d99e-e6c0-4646-aa06-3a05ab076ee4");
        var originalTitle = (gd.layout && gd.layout.title && gd.layout.title.text) ? gd.layout.title.text : '';

        function insertLineBreak(text) {
          if (!text) return text;
          if (text.indexOf('<br>') !== -1) return text;
          if (text.length <= 30) return text;
          var mid = Math.floor(text.length / 2);
          var left = text.lastIndexOf(' ', mid);
          var right = text.indexOf(' ', mid + 1);
          var idx = left > -1 ? left : (right > -1 ? right : -1);
          if (idx === -1) return text;
          return text.slice(0, idx) + '<br>' + text.slice(idx + 1);
        }

        function applyForWidth(w) {
          if (!gd) return;
          if (w < 640) {
            Plotly.relayout(gd, { 'title.text': insertLineBreak(originalTitle), 'title.x': 0.5, 'title.xanchor': 'center' });
          } else {
            Plotly.relayout(gd, { 'title.text': originalTitle, 'title.x': 0.5, 'title.xanchor': 'center' });
          }
        }

        function debounce(fn, wait) {
          var t = null;
          return function() {
            var args = arguments;
            clearTimeout(t);
            t = setTimeout(function() { fn.apply(null, args); }, wait);
          };
        }

        try { applyForWidth(window.innerWidth || document.documentElement.clientWidth); } catch (e) {}

        window.addEventListener('resize', debounce(function() {
          applyForWidth(window.innerWidth || document.documentElement.clientWidth);
        }, 150));

        window.addEventListener('message', function(ev) {
          try {
            if (ev && ev.data && ev.data.action === 'update-legend' && typeof ev.data.width === 'number') {
              applyForWidth(ev.data.width);
            }
          } catch (e) {}
        });
      });
    }
  </script>
</div>
