<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planeja SJC</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- Linkamento da estilazação CSS -->
    <link rel="icon" type="image/png" href="static/images/brasao_64x64.png">
</head>

<body>
    <header>
        <img src="static/images/logo.png">
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('mapa') }}">Mapa</a></li>
            </ul>
        </nav>
    </header>
    <main>

</body>

</html>